# To use common configuration in %APPDATA%\mintty, simply remove this file
Font=Source Code Pro
Term=xterm-256color
FontHeight=14
Transparency=off
CursorType=block
ThemeFile=xterm
FontSmoothing=default
BoldAsColour=yes
Scrollbar=none
BellFile=ambient-glass
BackgroundColour=27,27,27
Columns=116
Rows=31
